
form#profileForm.hidden(action='/musicians', method='post')
  fieldset
    legend Profile
    .row
      p Add as much or as little as you like. The more you add, the more likely others will discover you in their searches.
    .row
      a(href="#")
        h5 About you:
        .form#about.hidden
          mixin field(3, 'text', 'name', 'Name', null, null, true)
          mixin field(3, 'text', 'location', 'Location', null, null, false, 'location')
          mixin field(3, 'text', 'availableTime', 'Available Time', null, 'e.g. 3hrs per week')
          .small-3.columns
            h6='Age Group'
            select#ageSelectBox
              option(name='ageGroup' value="16-20")= '16-20'
              option(name='ageGroup' value="21-30")= '21-30'
              option(name='ageGroup' value="31-40")= '31-40'
              option(name='ageGroup' value="41-50")= '41-50'
              option(name='ageGroup' value="51-60")= '51-60'
              option(name='ageGroup' value="61-70")= '61-70'
              option(name='ageGroup' value="71-80")= '71-80'
              option(name='ageGroup' value="81-90")= '81-90'
              option(name='ageGroup' value="91-100")= '91-100'
          .row
            mixin field(6, 'text', 'photoUrl', 'Photo URL')
            mixin field(6, 'text', 'influences', 'Influences')
          .row
            .small-7.columns
              #profileFormGenres
                each genre in genres
                  span= "    " + genre.name + ":  "
                    input(type='checkbox', value=genre.id, name='genres')
            .small-5.columns
              p= "Don't see your genre? Add it below:"
              mixin field(6, 'text', 'genre', 'New Genre', null, null, false, 'AddNewGenre')
              .button.small.radius#addGenreButton Add Genre
          .row
            label(for='bio') Bio:
            textarea#bio(name='bio')

    .row
      a(href="#")
        h5 Your skills:
        .form#skills.hidden
          mixin field(3, 'text', 'instrumentsPlayed', 'Instruments you Play', null, null, true)//-change to a dropdown? populate with instruments?
          mixin field(3, 'text', 'abilityLevel', 'Ability Level', null, 'e.g. beginner')
          mixin field(3, 'text', 'skills', 'Other Skills', null, 'e.g. Songwriter')
          mixin field(3, 'text', 'instrumentsTaught', 'Instruments you teach')//-change to a dropdown? populate with instruments?

    .row
      a(href="#")
        h5 Your material:
        .form#material.hidden
          mixin field(4, 'text', 'website', 'Your website URL', null, null, true)
          mixin field(4, 'text', 'videoUrl', 'Your video URL')
          mixin field(4, 'text', 'audioUrl', 'Your audio URL')

    .row
      a(href="#")
        h5 Your stuff:
        .form#stuff.hidden
          mixin field(6, 'text', 'instrumentsOwned', 'Instruments you Own', null, null, true)
          mixin field(6, 'text', 'hasPracticeSpace', 'Do you have practice space?')
          .row
            mixin field(6, 'text', 'hasEquipmentTransport', 'Do you have equipment transport?', null, 'e.g. for a band plus equipment')
            mixin field(6, 'text', 'equipmentAccess', 'What other equipment do you have access to?', null, 'e.g. recording equipment')

    .row
      a(href="#")
        h5 Social Media:
        .form#social.hidden
          mixin field(3, 'text', 'googlePlusLink', 'Google+ URL', null, null, true)
          mixin field(3, 'text', 'facebookLink', 'Facebook URL')
          mixin field(3, 'text', 'twitterLink', 'Twitter URL')
          mixin field(3, 'text', 'linkedInLink', 'LinkedIn URL')

    .row
      a(href="#")
        h5 What do you want?:
        .form#wants.hidden
          mixin field(4, 'text', 'wantsToPractice', 'Do you want to practice?', null, null, true)
          mixin field(4, 'text', 'wantsToPerform', 'Do you want to perform?')
          mixin field(4, 'text', 'wantsTeacher', 'Do you need a teacher?')

    .row
      a(href="#")
        h5 What do you charge?:
        .form#fees.hidden
          mixin field(4, 'text', 'feePerHourGig', 'Your hourly fee for a gig', null, null, true)
          mixin field(4, 'text', 'feePerHourEquipment', 'Your hourly fee for equipment hire')
          mixin field(4, 'text', 'feePerHourTeach', 'Your hourly fee for teaching')

    .row
      a(href="#")
        h5 Your gigs:
        .form#gigs.hidden
          mixin field(6, 'text', 'gigDates', 'When is your gig?', null, null, true)
          mixin field(6, 'text', 'gigVenues', 'Where is your gig?')

    .row
      a(href="#")
        h5 Your reviews:
        .form#reviews.hidden
          mixin field(6, 'text', 'venueReviews', 'Venue Reviews', null, null, true)
          mixin field(6, 'text', 'bandReviews', 'Band Reviews')
    .row
      .small-2.columns
        button#saveProfile.radius.small.expand(type='submit') Save
      .small-2.columns
        button#cancelProfile.radius.small.expand Cancel